body {
    font-family: 'Consolas', serif;
    font-style: normal;
    font-variant: normal;
    word-wrap: break-word;
}

header {
    padding-left: 1%;
    border-bottom: 1px solid #7A6969;
}

#container section {
    line-height: 1.2em;
    margin-left: .5%;
}

.header h1 {
	font-family: 'Lato', serif;
	font-size: 250%;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}

a.download
{
	color: blue;
    margin-left: 5px;
}

a.change
{
    color: grey;
    margin-left: 5px;
    text-decoration:none;
}

a.change:hover
{
    margin-left: 5px;
    text-decoration: underline;
}


.big {
	font-size: 26px;
	font-style: normal;
	font-weight: 200;
}

.gray {
    color: silver;
}

footer {
    font-size: small;
    color: #adadad; /* taki szarawy */
    text-align: center;
}

.ad_container {
    width: 336px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.download_button_inactive {
    display: none;
}

.download_button_active {
    display: inherit;
    font-size: 24px;
    margin: 40px;
    padding: 10px 15px;
    width: 336px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.border-top {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid #7A6969;
} .comments {
    padding-left: 1%;
    width: 300px;
    max-width: 98%;
} i {
    font-style: italic;
}

#bottom {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid rgba(0, 0, 0, 0.8);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.ad_table {
    margin-left: auto;
    margin-right: auto;
}

.ad_table p {
    color: lightgray;
}

.underline:hover {
    text-decoration: underline;
}